<a href="https://colab.research.google.com/github/brodyandre/pipeline_ingestao_csv/blob/main/pipeline_ingestao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Visão Geral

Este script em Python realiza a ingestão, limpeza e armazenamento de dados de um arquivo CSV em um banco de dados SQLite em memória. Ele utiliza a biblioteca pandas para manipulação de dados e sqlite3 para interação com o banco de dados.

###Objetivo

O objetivo do script é:

1. Ler dados de um arquivo CSV.



2. Realizar a limpeza de dados, removendo entradas inválidas.



3. Armazenar os dados processados em uma tabela SQLite.



4. Consultar e exibir os dados armazenados.

###Requisitos
Python 3.x



Bibliotecas:

pandas

*   sqlite3 (nativa no Python)
*   Estrutura do Código


###1. Importação de Bibliotecas

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("/pipeline_ingestao.csv")

In [23]:
print (df)

   id             nome                      email           idade
0   1       Joao Silva       joao.silva@email.com             28
1   2              NaN     maria.santos@email.com              35
2   3       Luiz Andre           luiz.andre@email              42
3   4        Ana Costa        ana.costa@email.com  idade_invalida
4   5    Pedro Almeida            pedro@email.com             NaN
5   6  Luisa Fernandes  luisa.fernandes@email.com              -5

In [24]:
df = df.dropna(subset=['nome', 'email', 'idade'])

In [25]:
print (df)

   id             nome                      email           idade
0   1       Joao Silva       joao.silva@email.com             28
2   3       Luiz Andre           luiz.andre@email              42
3   4        Ana Costa        ana.costa@email.com  idade_invalida
5   6  Luisa Fernandes  luisa.fernandes@email.com              -5

In [26]:
df = df[df['idade'].apply(lambda x: str(x).isdigit())]

In [27]:
df['idade']= df['idade'].astype(int)

In [29]:
import sqlite3
conn = sqlite3.connect(':memory:')
df.to_sql('usuarios', conn, index=False, if_exists='replace')

1

In [30]:
pd.read_sql_query("SELECT * FROM usuarios", conn)

   id        nome             email  idade
0   3  Luiz Andre  luiz.andre@email     42